#seller-wrapper {
    display: flex;
    position: relative;
}

#seller-sidebar {
    flex: 1;
    /* position: fixed; */
}

#seller-sidebar a {
    text-decoration: none;
    color: black;
}

#seller-sidebar a:hover{
    color: blue;
}

#seller-main-content {
    /* margin-left: 230px; */
    flex: 5;
}

#seller-show-products tr th, #seller-show-products tr td{
    padding: 10px;
    border: 1px solid black;
}

#seller-main-content-wrapper {
    width: 80%;
    background: #fff;
    padding: 10px 20px 10px 20px;
}

.seller-title {
    margin-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #90909091;
}

.seller-main-content-wrapper .container{
    padding-top: 10px;
}